html 
    head 
        title=title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous")
        link(rel="stylesheet" href="./css/style.css")
    body(class='container')
        div(class='row')
            div(class='col-12')
                h1(class='text-center') TP 5 Francisco Llantada      
        div(class='row justify-content-center')
            div(class="col-6")
                button(class='btn btn-primary menu-btn' id='btn1')
                    a(href="./productos" class="text-center") Ir a Productos
            div(class="col-6")
                button(class='btn btn-primary menu-btn' id='btn2')
                  a(href="./formulario") Ir a Formulario

        div(class="row")
            div(class="col-12")
                h2(class="text-center") Por que Pug?
            div(class="col-12")          
                p(class="text-center") Por que es lo q mas se parece a un trabajo con Docker o gihub o basicamente todo el mundo del backend usa YML 
        
        block content
        script(src="./socket.io/socket.io.js")
        script(src="./js/script.js")