html 
    head 
        title=title
        link(rel="stylesheet" href="./css/style.css")
    body 
        h1 TP 5 Francisco LLantada



        button 
            a(href="./productos") Ir a Productos
        button 
            a(href="./formulario") Ir a Formulario

        div()
            h2 Que por que PUG?
            p Por que es lo q mas se parece a un trabajo con Docker o gihub o basicamente todo el mundo del backend usa YML
        block content


        script(src="./js/script.js")