extends ../layout/home.pug
block content
    form(action='/api/productos', method='POST')
        p(class="tituloformulario") Crear Producto
        p(class="formulario") Nombre
                input(type='text', name='title')
        p(class="formulario") Precio
            input(type='text', name='price')
        p(class="formulario") Thumbnail
            input(type='text', name='thumbnail')

        button(type='submit') Agregar Producto
               