extends ../layout/home.pug
block content
    ul 
        each val in productos
            div(class="card")
                h2="Nombre: "+val.title
                h2="Precio: "+val.price
                img(src=val.thumbnail)
                h2="Id:"+val.id