
h1{
    font-size: 50px;   
    font-weight: 300;
    margin: 10;
    padding: 0;
}
.titulo{
    align-self:center;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.menu-btn{
    
    
    width:100%;
   
}
h2{
    font-size: 20px;
    font-weight: 300;
    margin: 10;
    padding: 0;
}
.spaceReady{
    background-color: aquamarine;
}
p{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 300;

    margin: 10;
    padding: 0;
}
fila{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10;
    padding: 0;
}
input{
    width: 100px;
}
button{
    font-size: 15px;
    font-weight: 300;
    margin: 10 0;
    
    
}
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;            
    
  
    width: 150px;
}
.tituloformulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10;
    padding: 0;
   
    font-size: 25px;
}
form{
    border:2px solid white
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:2px solid white;
    margin: 10;
    padding: 0;
    width: 300px;
}
img{
    width: 20px;
    height: 20px;
}
