h1 Instrucciones 
 
        p Todas las rutas solicitadas se pueden probar con el siguiente link a Postman 
        
        a(class="link-postman" href="https://www.getpostman.com/collections/142bcf20d799b46b8312")  Link
      
