div(class="row")
        div(class="col-12")
         table(class="table table-striped")
            thead(class="table-dark")
                tr
                    th(scope="col") ID
                    th(scope="col") Titulo
                    th(scope="col") Precio
                    th(scope="col") Imagen   
            tbody(id="tbody")
                